<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="modinatheme">
    <meta name="description" content="CCK - Plateforme de gestion des universités tunisiennes">
    <!-- ======== Page title ============ -->
    <title>CCK - Plateforme de gestion des universités tunisiennes</title>
    <!--<< Favicon >>-->
    <link rel="shortcut icon" href="assets/img/favicon.svg">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--<< Font Awesome.css >>-->
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <!--<< Odometer.css >>-->
    <link rel="stylesheet" href="assets/css/odometer.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--<< Style.css >>-->
    <link rel="stylesheet" href="style.css">
    <!--<< Chatbot.css >>-->
        <link rel="stylesheet" href="assets/css/chatbot.css">

</head>

<body>
    <!-- Preloader Start -->
<div id="preloader" class="preloader">
    <div class="animation-preloader">
        <div class="edu-preloader-icon"> 
            <img src="https://touritage.rnu.tn/wp-content/uploads/2023/09/logo_cck-mesrs_tunisie_800-768x540-1.png" alt="CCK Tunisie" style="max-width: 200px;">               
        </div>
        <div class="txt-loading">
            <span data-text-preloader="C" class="letters-loading" style="color: #25354A;">
                C
            </span>
            <span data-text-preloader="C" class="letters-loading" style="color: #25354A;">
                C
            </span>
            <span data-text-preloader="K" class="letters-loading" style="color: #25354A;">
                K
            </span>
        </div>
        <p class="text-center" style="color: #25354A; font-weight: 500; margin-top: 15px;">Chargement en cours...</p>
    </div>
    <div class="loader">
        <div class="row">
            <div class="col-3 loader-section section-left">
                <div class="bg" style="background-color: #25354A;"></div>
            </div>
            <div class="col-3 loader-section section-left">
                <div class="bg" style="background-color: #6CC1D5;"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg" style="background-color: #498ED3;"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg" style="background-color: #5C79A5;"></div>
            </div>
        </div>
    </div>
</div>

    <!-- Header Section Start -->
    <header class="header-section-3">
        <div id="header-sticky" class="header-3 sticky">
            <div class="container">
                <div class="mega-menu-wrapper">
                    <div class="header-main">
                        <a href="index.html" class="header-logo">
                            <img src="https://touritage.rnu.tn/wp-content/uploads/2023/09/logo_cck-mesrs_tunisie_800-768x540-1.png" alt="Logo CCK" width="100px">
                        </a>
                        <a href="index.html" class="header-logo-2">
                            <img src="https://touritage.rnu.tn/wp-content/uploads/2023/09/logo_cck-mesrs_tunisie_800-768x540-1.png" alt="Logo CCK" width="100px">
                        </a>
                        <div class="header-left">
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                                                                      <li><a href="{{path('app_user_index')}}">Accueil</a></li>
                                            <li><a href="{{path('app_view_universities')}}">Universités</a></li>
                                            <li><a href="#">À propos</a></li>
                                            <li><a href="{{path('app_login')}}">Connexion</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="header-right d-flex justify-content-end align-items-center">
                            <div class="header-button">
                                <a href="#" class="theme-btn" style="background-color: #6CC1D5;">Explorer les universités</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hero Section Start -->
    <section class="hero-section-3 hero-3">
        <div class="swiper hero-slider swiper-fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-bg bg-cover" style="background-image: url('https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/472745391_989994936493093_7037224274320717580_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=fP0xxw_KlXoQ7kNvwE893NA&_nc_oc=AdlbrjQVN76V1srI5DELHn2BDOb8olvFodMgQOU7toby2hpejXXGAse1ubSKtDADHSM&_nc_zt=23&_nc_ht=scontent.ftun10-1.fna&_nc_gid=tj8OIU1FZjwRksazAdiWYg&oh=00_AfLQf7IjxzJ6y5SXyhFQCOyBy8j4xWayPJZzUdxbnh5Ggw&oe=68401B76');">
                        <div class="overlay-bg bg-cover" style="background-image: url('https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/472745391_989994936493093_7037224274320717580_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=fP0xxw_KlXoQ7kNvwE893NA&_nc_oc=AdlbrjQVN76V1srI5DELHn2BDOb8olvFodMgQOU7toby2hpejXXGAse1ubSKtDADHSM&_nc_zt=23&_nc_ht=scontent.ftun10-1.fna&_nc_gid=tj8OIU1FZjwRksazAdiWYg&oh=00_AfLQf7IjxzJ6y5SXyhFQCOyBy8j4xWayPJZzUdxbnh5Ggw&oe=68401B76');"></div>
                    </div>
                    <div class="container">
                        <div class="row g-4 align-items-center justify-content-center">
                            <div class="col-lg-12">
                                <div class="hero-content">
                                    <h6 data-animation="fadeInUp" data-delay="1.3s" class="fadeInUp">Bienvenue sur CCK</h6>
                                    <h1 data-animation="fadeInUp" data-delay="1.5s" class="fadeInUp" style="font-color:black;!important">
                                        Découvrez les universités de Tunisie
                                    </h1>
                                    <p data-animation="fadeInUp" data-delay="1.7s" class="fadeInUp">
                                        Explorez des établissements prestigieux comme Manar, Ghazela, Carthage et bien d'autres pour trouver votre future alma mater.
                                    </p>
                                    <div class="hero-button">
                                        <a href="#" data-animation="fadeInUp" data-delay="1.9s" class="theme-btn red-btn fadeInUp" style="background-color: #6CC1D5;">Explorer les universités</a>
                                        <a href="#" data-animation="fadeInUp" data-delay="2.1s" class="theme-btn fadeInUp" style="background-color: #498ED3;">S'inscrire en tant qu'université</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Universities Section -->
    <section class="feature-section-3 style-margin-top section-padding pb-0">
        <div class="container">
            <div class="section-title text-center">
                <h6 class="wow fadeInUp">Universités partenaires</h6>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">Découvrez les principales universités tunisiennes</h2>
            </div>
            <div class="feature-wrapper-3">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="feature-card-items">
                            <div class="icon">
                                <img src="https://utm.rnu.tn/utm/img/utm-1100.png" alt="Université Tunis El Manar" style="max-height: 60px;">
                            </div>
                            <div class="content">
                                <h5>Université Tunis El Manar</h5>
                                <p>Établissement universitaire public situé à Tunis</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="feature-card-items">
                            <div class="icon">
                                <img src="https://www.utctunisie.com/wp-content/uploads/2019/07/UTC-anniversaire-25-ans-1024x683.jpg" alt="Université de Carthage" style="max-height: 60px;">
                            </div>
                            <div class="content">
                                <h5>Université de Carthage</h5>
                                <p>Établissement universitaire public situé à Tunis</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="feature-card-items">
                            <div class="icon">
                                <img src="https://rami.tn/wp-content/uploads/2023/07/Universite-de-Sfax.webp" alt="Université de Sfax" style="max-height: 60px;">
                            </div>
                            <div class="content">
                                <h5>Université de Sfax</h5>
                                <p>Établissement universitaire public situé à Sfax</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="feature-card-items">
                            <div class="icon">
                                <img src="https://uma.rnu.tn/userfiles/images/vlcsnap-2024-12-25-11h48m33s684(1).png" alt="Université de la Manouba" style="max-height: 60px;">
                            </div>
                            <div class="content">
                                <h5>Université de la Manouba</h5>
                                <p>Établissement universitaire public situé à Manouba</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="about-section-3 section-padding" style="background-color: #25354A;">
        <div class="container">
            <div class="about-wrapper-2">
                <div class="row g-4 justify-content-between">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-content">
                            <div class="section-title">
                                <h6 class="text-white wow fadeInUp">Fonctionnalités CCK</h6>
                                <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">Découvrez notre plateforme de gestion universitaire</h2>
                            </div>
                            <p class="mt-3 mt-md-0 wow fadeInUp" data-wow-delay=".5s" style="color: #E8ECE9;">
                                CCK offre une solution complète pour la gestion des établissements universitaires en Tunisie, avec des outils puissants pour les administrateurs et le Ministère de l'Enseignement Supérieur.
                            </p>
                            <div class="about-counter-items">
                                <div class="counter-content wow fadeInUp" data-wow-delay=".3s">
                                    <h3><span class="odometer odometer-auto-theme" data-count="50">0</span>+</h3>
                                    <p>Universités partenaires</p>
                                </div>
                                <div class="counter-content wow fadeInUp" data-wow-delay=".5s">
                                    <h3><span class="odometer odometer-auto-theme" data-count="250000">0</span>+</h3>
                                    <p>Étudiants</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="about-image">
                            <img src="https://wepostmag.com/wp-content/uploads/2023/11/casey-olsen-NlFyPKxXORo-unsplash-740x600.jpg" alt="Interface CCK" class="wow img-custom-anim-left">
                            <div class="counter-box">
                                <p>Plus de</p>
                                <h2><span class="odometer odometer-auto-theme" data-count="1000">0</span>+</h2>
                                <p>Programmes de formation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Ministry Section -->
    <section class="choose-us-section-3 fix section-padding pt-0">
        <div class="choose-us-wrapper-3">
            <div class="row g-0">
                <div class="col-xxl-7 col-xl-6 col-lg-6">
                    <div class="video-image wow img-custom-anim-left">
                        <img src="assets/img/feature/video.jpg" alt="Interface Ministère">
                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6 col-lg-6">
                    <div class="choose-content" style="background-color: #498ED3;">
                        <div class="section-title">
                            <h6 class="text-white wow fadeInUp">Interface Ministère</h6>
                            <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">Supervision des établissements universitaires</h2>
                        </div>
                        <p class="mt-3 mt-md-0 text-white wow fadeInUp" data-wow-delay=".5s">
                            Le Ministère de l'Enseignement Supérieur dispose d'un accès privilégié à la plateforme CCK pour superviser l'ensemble des établissements universitaires tunisiens.
                        </p>
                        <div class="row">
                            <div class="col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="icon-items">
                                    <div class="icon">
                                        <i class="flaticon-kayak"></i>
                                    </div>
                                    <h3>Tableaux de bord</h3>
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="icon-items">
                                    <div class="icon">
                                        <i class="flaticon-violin"></i>
                                    </div>
                                    <h3>Statistiques</h3>
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="icon-items">
                                    <div class="icon">
                                        <i class="flaticon-provision"></i>
                                    </div>
                                    <h3>Rapports</h3>
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="icon-items">
                                    <div class="icon">
                                        <i class="flaticon-certificate"></i>
                                    </div>
                                    <h3>Alertes</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonial-section-3 fix pt-0 section-padding bg-cover" style="background-image: url('https://lanouvelletribune.info/wp-content/uploads/amphi-universite.jpg');">
        <div class="container">
            <div class="section-title text-center">
                <h6 class="text-white wow fadeInUp">Témoignages</h6>
                <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">
                    Ce que disent nos utilisateurs
                </h2>
            </div>
            <div class="swiper testimonial-slider-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-card-items">
                            <div class="client-info">
                                <h3>Amira Ben Salah</h3>
                                <span>Étudiante à l'Université de Tunis</span>
                            </div>
                            <div class="client-img bg-cover" style="background-image: url('assets/img/testimonial/client-1.png');"></div>
                            <p>
                                "Grâce à la plateforme CCK, j'ai pu trouver toutes les informations nécessaires pour choisir mon université et m'inscrire en ligne facilement."
                            </p>
                            <div class="icon">
                                <i class="flaticon-double-quotes"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card-items">
                            <div class="client-info">
                                <h3>Mohamed Trabelsi</h3>
                                <span>Étudiant à l'Université de Sfax</span>
                            </div>
                            <div class="client-img bg-cover" style="background-image: url('assets/img/testimonial/client-2.png');"></div>
                            <p>
                                "L'interface est très intuitive et m'a permis de gérer mon dossier administratif sans avoir à me déplacer à l'université."
                            </p>
                            <div class="icon">
                                <i class="flaticon-double-quotes"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-card-items">
                            <div class="client-info">
                                <h3>Fatma Karray</h3>
                                <span>Étudiante à l'Université de Carthage</span>
                            </div>
                            <div class="client-img bg-cover" style="background-image: url('assets/img/testimonial/client-3.png');"></div>
                            <p>
                                "Je recommande cette plateforme à tous les futurs étudiants. Elle m'a beaucoup aidé dans mon orientation universitaire."
                            </p>
                            <div class="icon">
                                <i class="flaticon-double-quotes"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
<!-- Floating Robot Button -->
<div id="chatbot-toggle" onclick="toggleChatbot()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M320 32a32 32 0 1 0-32-32 32 32 0 0 0 32 32zm0 64a64 64 0 0 0-64 64v16H128a32 32 0 0 0-32 32v80a32 32 0 0 0 32 32v128a64 64 0 0 0 64 64h256a64 64 0 0 0 64-64V320a32 32 0 0 0 32-32v-80a32 32 0 0 0-32-32H384v-16a64 64 0 0 0-64-64zm-96 192a32 32 0 1 1 32 32 32 32 0 0 1-32-32zm160 0a32 32 0 1 1 32 32 32 32 0 0 1-32-32z"/>
    </svg>
</div>

<!-- Chatbot Modal -->
<div id="chatbot-modal">
    <div id="chatbot-header">🤖 Assistant CCK</div>
    <div id="chatbot-messages"></div>
    <div id="chatbot-input">
        <input type="text" id="user-message" placeholder="Demandez quelque chose..." />
        <button onclick="sendMessage()">Envoyer</button>
    </div>
</div>

    <!-- Footer Section Start -->
    <footer class="footer-section-3 fix">
        <div class="container">
            <div class="footer-widget-wrapper style-2">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a href="index.html">
                                    <img src="https://touritage.rnu.tn/wp-content/uploads/2023/09/logo_cck-mesrs_tunisie_800-768x540-1.png" alt="CCK" width="70px">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    Plateforme dédiée à la gestion des établissements universitaires tunisiens et à leur supervision par le Ministère de l'Enseignement Supérieur.
                                </p>
                                <div class="social-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                               <h3>Liens rapides</h3>
                            </div>
                            <ul class="list-area">
                                     <li><a href="{{path('app_user_index')}}">Accueil</a></li>
                                 <li><a href="{{path('app_view_universities')}}">Universités</a></li>
                                <li><a href="#">À propos</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                               <h3>Ressources</h3>
                            </div>
                            <ul class="list-area">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                               <h3>Contact</h3>
                            </div>
                            <div class="footer-content">
                                <ul class="contact-info">
                                    <li>
                                        Avenue Mohammed V, 
                                        Tunis, Tunisie
                                    </li>
                                    <li>
                                        <a href="mailto:contact@cck.tn" class="link">contact@cck.tn</a>
                                    </li>
                                    <li>
                                        <a href="tel:+21670000000">+216 70 000 000</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom style-3">
                <div class="container">
                    <div class="footer-bottom-wrapper">
                        <p>Copyright © <a href="index.html">CCK</a>, Tous droits réservés.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--<< All JS Plugins >>-->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!--<< Odometer Js >>-->
    <script src="assets/js/odometer.min.js"></script>
    <!--<< Appear Js >>-->
    <script src="assets/js/jquery.appear.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Circle Progress Js >>-->
    <script src="assets/js/circle-progress.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="assets/js/wow.min.js"></script>
    <!--<< Main.js >>-->
    <script src="assets/js/main.js"></script>
    
<script>
    function toggleChatbot() {
        const modal = document.getElementById('chatbot-modal');
        modal.style.display = modal.style.display === 'flex' ? 'none' : 'flex';
    }

    async function sendMessage() {
        const input = document.getElementById('user-message');
        const msg = input.value.trim();
        if (!msg) return;

        const messages = document.getElementById('chatbot-messages');
        messages.innerHTML += `<div><strong>Vous:</strong> ${msg}</div>`;
        input.value = "";

        const response = await fetch('/chatbot', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({ message: msg })
        });

        const data = await response.json();
        messages.innerHTML += `<div><strong>Assistant CCK:</strong> ${data.reply}</div>`;
        messages.scrollTop = messages.scrollHeight;
    }
</script>
</body>
</html>